<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
  <section class="search">
    <input type="text" name="screen" value="">
    <button type="submit" name="enter"></button>
  </section>

  
  <section class="comptasks">
    <p>Completed Tasks</p>
  </section>
  <button type="button" name="todolist"></button>
  <p>  Cookies are GOOOD</p>
  </body>
</html>
