<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
  <section class="search">
    <form class="tdlist" action="index.mustache" method="post">

    <input type="text" name="screen" value="">
    <button type="submit" name="enter"></button>
  </section>

</form>
<button type="button" name="todolist"></button>

  <section class="completedtasks">
    <p>Completed Tasks</p>
  </section>
  <p>  Cookies are GOOOD</p>
  </body>
</html>
