<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <input type="text" name="screen" value="">
  <p>  Cookies are GOOOD</p>
  </body>
</html>
